*{
padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 85%;
  margin: 0 auto;
   
}
.clear_fix{
  clear: both;
}
.header{
  background-image: url(img/headerbg.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  
}
.logo{
  float: left;
}
.nav{
  background-color: black;
  padding: 20px;
}
.main_nav{
  float: right;
}
.logo a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}


.main_nav ul li{
  display: inline;
}
.main_nav ul{
  margin-top: 10px;
}
.main_nav ul a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-right: 15px;
  font-weight: 100;
}
.main_nav ul a:hover{
  color: yellowgreen;
}
.hero{
  text-align: center;
  color: white;
  padding: 50px;
  margin: auto;
}
.hero h1{
  
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
 hr{
  border: solid 1px #61c2f7;
  width: 50%;
  margin: 20px auto;
}
.hero p{
  font-size: 18px;
  margin: 25px 25%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  
}
.hero a{
  text-decoration: none;
  padding: 10px 20px;
  border: solid 1px #61c2f7;
  color: white;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}
.Design{
  text-align: center;
  background-color: lightgray;
  padding: 30px ;
}
.Design h2{
  padding: 10px;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.Design p{
  font-family: Arial, Helvetica, sans-serif;
  color: #828282;
  font-size: 18px;
  line-height: 1.5;
}
.icons{
  margin: 50px 0;
}
.icon{
  float: left;
  width: 31%;
  margin: 1%;
  text-align: center;
}
.row{
  width:85% ;
}
.icon i{
  color: white;
  background-color: blue;
  padding: 20px 30px; 
}
.icon h3{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 1px;
  margin-top: 20px;
}
.icon p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #828282;
  line-height: 1.5;
}
.gallery{
  padding: 250px;
  height: 300px;
}
.info{
  text-align: center;
}
.info h2{
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.info p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  color: #828282;
}
.x-row{
  width: 100%;
}
.x-row .item{
  width: 31%;
  margin: 1%;
  float: left;
}
.x-row .item img{
  width: 100%;
}
.contant{
    background-image:url(./img/contactbg.png);
    margin-top:350px;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 50px 0;
    position: relative;
    
}
.rgba{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
} 
.info-contant{
    text-align: center;
    margin-top: 100px;
}
.info-contant h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}
.info-contant p {
    color: #828281;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}
.form-contant{
    width: 600px;
    text-align: center;
    margin: 20px auto;
}

#txtarea , #text , #email{
    width: 600px;
   padding: 15px;
   margin-bottom: 15px;
   background: transparent;
   display: block;
}

span{
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    margin-left: 40px;
    color: white;
    
}
input[type=checkbox]{
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    border: solid 1px #61c2f7;
}
input[type=submit]{
padding: 5px 20px;
background-color: transparent;
color: #fff;
}
.footer{
    padding: 25px;
    background-color: #eee;
    text-align: right;
}
.footer p{
    color:#9F9F9F;
    text-align: left;
    padding: 10px 60px;
    font-size: 20px;
}
.footer a{

   text-decoration: none;
   font-size: 36px;
   margin: 5px;
   color: #61c2f7;
   
}
.clear{
    clear: both;
}